body {
	background-color: #FFDEE9;
	background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
	height: 100vh;
	background-attachment: fixed;	
}

div {
	text-align: center;
}
.game-btn {
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 20px;
	border: 1px solid rgba(000,000,000, 0.5);	
	cursor: pointer;	
}

.blue {
	background-color: #0093E9;
	background-image: linear-gradient(270deg, #0093E9 0%, #80D0C7 100%);
}
.blueHighlight,
.blue:active {
	background-color: #3898E0;
	background-image: linear-gradient(270deg, #3898E0 0%, #A1DCD6 100%);
}

.green {
	background-color: #40ca32;
	background-image: linear-gradient(180deg, #40ca32 0%, #16A085 100%);	
}

.greenHighlight,
.green:active {
	background-color: #40ca32;
	background-image: linear-gradient(180deg, #93D98B 0%, #16A06E 100%);
}

.yellow {
	background-color: #ffd100;
	background-image: linear-gradient(270deg, #FFE29D 0%, #ffd100 100%);	
}

.yellowHighlight,
.yellow:active {
	background-color: #ffd100;
	background-image: linear-gradient(270deg, #FDEBC1 0%, #FFD517 100%);
}

.red {
	background-color: #FF2525;
	background-image: linear-gradient(359deg, #FFA43B 0%, #FF2525 74%);	
}
.redHighlight,
.red:active {
	background-color: #FF2525;
	background-image: linear-gradient(359deg, #FFC25F 0%, #FF3D3D 74%);	
}

#color-buttons {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#counter {
	display: inline-block
}


.press {
	border: 5px solid #000;
} 
	